# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# zipped files
data/*.img.gz
autotest-for-oskernel/kernel.zip
sdcard-rv.img
sdcard-la.img
sdcard-rv.img.gz
sdcard-la.img.gz

# evaluation/build outputs
kernel-rv
kernel-la
qemu.log

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
target/
data/*.img
data/*.img.gz
data/*.img.xz
*Zone.Identifier
autotest-for-oskernel/kernel.zip
kernel-rv
kernel-la
target/
qemu.log

# test
testsuits-for-oskernel/
autotest-for-oskernel/